<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Question</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{{url_for('static', filename='stylesIndex.css')}}" rel="stylesheet" text="text/css"/>
		<style>
			.img-container {
				text-align: center;
			}
			.button{
				display: inline-block;
			}
		</style>
    </head>
    <body>
    	<section class = "img-container">
    		<div >
    			<img src="{{Value}}" width="650" height="330" alt="question" style="align"/>
    		</div>

				<form action="http://localhost:5000/result" method="POST">
					<div class="button my-3 ">
	    				<input class="btn btn-outline-dark mt-auto mx-3 my-3" type="submit" name="reply" value = "Video"></input></div>
	                	<input class="btn btn-outline-dark mt-auto mx-3 my-3 " type="submit" name="reply" value = "Answer"></input></div>
	                	<input class="btn btn-outline-dark mt-auto mx-3 my-3" name="reply" type="submit" value = "Question"></input></div>
                	</div>
                </form>
            </div>
        </section>
    </body>
</html>
